# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. SciPy

|Data Science Tools|
|-----|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [24]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/60.0
print(hours)

3.3333333333333335

Objectives:
* List popular languages for Data Science
* List popular tools for Data Science
* List popular libraries for Data Science
* Display how markdown and code can be presented in a Jupyter notebook
* Upload and share Jupyter notebooks

## Author
Max W.